.row.header {
  text-transform: uppercase;
  color: #fff;
  background-color: #e6a248;
  border-top: solid 2px #e6a248;
}

.row.details {
  padding: 2px 0;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: solid 1px #e6a248;
}

.row.details.elastic {
  display: table;
  width: 100%;
  table-layout: fixed;
  vertical-align: center;
}

.page-header {
  margin-top: 0;
}

.page-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 100px;
}

.page-header .button-bar {
    line-height: 100px;
    text-align: right;
}

.image, .price, .stock, .actions {
  text-align: center;
}

.publication-img {
  text-align: center;
  width: 50px;
}

.variations>ul>li {
  line-height: 1.5em;
}

.alert {
    margin: 3%;
}
